.allon4{
	text-align: center;
	width: 580px;
}
.allon4 .inner{
	width: 560px;
	margin: 10px auto 30px;
	text-align: center;
}
.allon4 p{
	color: #333;
	font-size: 12px;
	line-height: 1.6;
	margin-bottom: 1em;
}
.allon4 p strong{
	color: #f60;
	font-size: 16px;
	font-weight: bold;
}
.allon4 .img{
	margin: 10px auto 0;
	text-align: center;
	line-height: 1;
}
.allon4 .faq{
	width: 580px;
	margin: 10px 0 30px;
	text-align: center;
}
.allon4 .faq h4{
	margin: 0 auto 10px;
}
.allon4 .faq p{
	width: 550px;
	margin: 0 auto 20px;
}
