/* entry */

#entry {
margin: 0 0 30px 0;
}
#entry h2 {
margin: 0 0 15px 0;
width: 580px;
height: 32px;

}
#entry h2.ti_1 {background: url(../imgs/entry/ti_1.gif) no-repeat 0 0;}
#entry h2.ti_2 {background: url(../imgs/entry/ti_2.gif) no-repeat 0 0;}
#entry .inner {
padding: 0 10px;
width: 560px;
}
*html #entry .inner {width: 580px;}
#entry h3 {
margin: 0 0 10px 0;
font-size: 14px;
color: #666;
}
#entry ul {
margin: 0 0 20px 0;
padding: 0 0 0 18px;
line-height: 150%;
}
#entry ul li {
margin: 0 0 5px 0;
}
#entry p {
margin: 0 0 30px 0;
}