// Fonts
$font-size-base:              13px;
$font-family-base:            "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-weight-normal:          normal;
$font-weight-bold:            700;

$font-weight-base:            500;
$line-height-base:            1.2;